{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
 
   <div class="container  p-4">
    
      <h1 class="text-center text-5xl text-black "> B'blog : le blog créé de A a Z avec Symfony </h1>
         <div class="flex flex-row flex-wrap justify-evenly  mt-6 ">
            {% for post in postPublished %}
             {% include "components/_card.html.twig" %}
            {% endfor %}
         </div>
   </div>

    <div class ="" >
      {{ knp_pagination_render( postPublished, 'components/_pagination.html.twig')}}
      </div>
{% endblock %}
